body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}



@font-face {
    font-family: 'Sk-Modernist Regular';
    src: url(/fonts/Sk-Modernist-Regular.otf);
}

@font-face {
    font-family: 'Sk-Modernist Bold';
    src: url(/fonts/Sk-Modernist-Bold.otf);
}

@font-face {
    font-family: 'Gilroy Light';
    src: url(/fonts/Gilroy-Light.otf);
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url(/fonts/Gilroy-Bold.ttf);
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url(/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: 'Basis Grotesque Pro Regular';
    src: url(/fonts/BasisGrotesqueArabicPro-Regular.ttf);
}

@font-face {
    font-family: 'Basis Grotesque Pro Bold';
    src: url(/fonts/BasisGrotesqueArabicPro-Bold.ttf);
}

@font-face {
    font-family: 'Basis Grotesque Pro Medium';
    src: url(/fonts/BasisGrotesqueArabicPro-Medium.ttf);
}

@font-face {
    font-family: 'Awesome Serif Bold Regular';
    src: url(/fonts/AwesomeSerif-BoldRegular.otf);
}

@font-face {
    font-family: 'Awesome Serif SemiBd Extra Tall';
    src: url(/fonts/AwesomeSerif-SemBdExtraTall.otf);
}

@font-face {
    font-family: 'Awesome Serif SemiBd Extra Tall Italic';
    src: url(/fonts/AwesomeSerifItalic-SmExraTall.otf);
}

@font-face {
    font-family: 'Awesome Serif Bd Extra Tall Italic';
    src: url(/fonts/AwesomeSerifItalic-BdExraTall.otf);
}



::selection {
  background: #DFFCA1;
}


.fade-scale {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.175s ease-in-out, transform 0.175s ease-in-out;
}

/* Hidden state when out of viewport */
.fade-scale.hidden {
    opacity: 0;
    transform: scale(0.8.5); /* Shrink more to make the effect noticeable */
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  height: 80px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-left img {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: ease-in-out 0.175s;
}

.navbar-left img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 0.175s;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 24px;
    position: relative;
    z-index: 10;
}

.hamburger span {
    background: #000;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
    top: 0;
}
.hamburger span:nth-child(2) {
    top: 10px;
}
.hamburger span:nth-child(3) {
    top: 20px;
}

/* Animate into X when active */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-right {
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 103px; /* adjust as needed */
        right: 0px;
        width: 100%;
        padding: 40px 0;
        box-shadow: 0 50px 100px rgba(0,0,0,0.15);
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.175s ease; /* THIS is your smooth magic */
        z-index: 9;


    }

    .navbar-right.show {
        display: flex;
        width: 100%;
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        gap: 32px;

    }

    .hamburger {
        display: block;
    }
}


.navbar-button {
  padding: 10.5px 24px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: rgba(28, 28, 28, 0.9);
  cursor: pointer;
  transition: background-color 0.175s ease;
  font-size: 16px;
  font-family: "Sk-Modernist Bold";
  line-height: 1.75;
}

.life-button {
  padding: 10.5px 24px;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.175s ease;
  font-size: 16px;
  font-family: "Sk-Modernist Bold";
  line-height: 1.75;
}

/* .life-button:hover {
  background-color: rgba(129, 140, 161, 0.1);
  color: rgba(28, 28, 28, 0.9);
  transition: background-color 0.175s ease;
} */


.navbar-button:hover {
  background-color: rgba(129, 140, 161, 0.1);
  color: rgba(28, 28, 28, 0.9);
  transition: background-color 0.175s ease;
}

.navbar-button-contact{
  padding: 10.5px 24px;
  border: none;
  border-radius: 30px;
  background-color: #094020;
  color: #DFFCA1;
  cursor: pointer;
  transition: background-color 0.175s ease;
  font-size: 16px;
  font-family: "Sk-Modernist Bold";
  line-height: 1.75;
}


.navbar-button-contact:hover{
  background-color: #DFFCA1;
  color: #094020;
  transition: background-color 0.175s ease;
}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 287px 33%;
    background-image: url(/img/life-stories.png);

}

.hero-section h1{
    margin: 0 0 32px 0;
    font-size: 80px;
    color: #fff;
    font-family: "Awesome Serif SemiBd Extra Tall Italic";
    margin: 0;
    line-height: 90px;
}

.hero-section p{
    margin: 0 0 16px 0;
    font-size: 24px;
    color: #fff;
    font-family: "Sk-Modernist Bold";
    margin: 24px 0 0 0;

}

.slave-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 38%;
    background-color: #fff;
}

.slave-section h1{
    margin: 0;
    font-size: 60px;
    color: #1a1a1a;
    font-family: "Awesome Serif Bold Regular";
    line-height: 70px;
}

.slave-section p{
    margin: 0 0 16px 0;
    font-size: 21px;
    color: #1a1a1a;
    font-family: "Sk-Modernist Regular";
    margin: 24px 0 0 0;
}

.slave-section h1 span{
    color: #000;
    font-family: "Awesome Serif Bd Extra Tall Italic";
}

footer{
    display: block;
    background-color: #000;
    padding: 90px 80px;
}

footer h1{
    margin: 0 0 32px 0;
    font-size: 60px;
    color: #fff;
    font-family: "Awesome Serif SemiBd Extra Tall";
}

footer h3{
    margin: 0 0 4px 0;
    font-size: 32px;
    color: #696969;
    font-family: "Sk-Modernist Bold";
}

footer p{
    margin: 0 0 0px 0;
    font-size: 24px;
    color: #696969;
    font-family: "Sk-Modernist Regular";
}

footer img{
    filter: invert(1);
    margin-right: 40px;
    width: 60px;
    height: auto;
    margin-bottom: 40px;
    transition: ease-in-out 0.175s;
    cursor: pointer;
}

footer img:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.175s;
    cursor: pointer;
}




@media screen and (max-width: 1024px){

}



@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .navbar-left img {
        height: 30px;
    }

    footer h1 {
        font-size: 36px;
    }

    footer p{
        font-size: 18px;
    }
}




